html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
#container {
	display: flex;
	height: 100%;
}
#control {
	height: 100%;
	transition: width 0.3s;
	background-color: lightgrey;
	border-right: 1px solid darkgray;
}
#search {
	padding: 4px;
}
#control {
	overflow: hidden;
}
ul, li{
	padding: 0;
	margin: 0;
}
.filterselected {
 	border-top: 1px solid #717171 !important; 
	border-left: 1px solid #717171 !important;
	border-bottom: 1px solid #FFFFFF !important;
	border-right: 1px solid #FFFFFF !important;
}
.filter {
	list-style: none;
	display: inline-block;
	border: 1px solid lightgrey;
	margin-top: 4px;
}
.filter:hover {
	background-color: aliceblue;
 }
#places{
	height: 100%;
	overflow: auto;
 }
#places li {
	margin: 4px 0;
	padding: 4px;
	font-size: 12px;
	background-color: white;
	cursor: pointer;
}
.placename {
	font-size: 14px;
}
#main {
	height: 100%;
	width: 100%;
}
#nav {
	background-color: darkgray;
}
#nav img {
	cursor: pointer;
}
#map {
	height: 100%;
}


